Source: kross
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.10.0),
               kdoctools-dev (>= 5.12.0),
               kio-dev (>= 5.12.0),
               libkf5completion-dev (>= 5.12.0),
               libkf5coreaddons-dev (>= 5.12.0),
               libkf5i18n-dev (>= 5.12.0),
               libkf5iconthemes-dev (>= 5.12.0),
               libkf5parts-dev (>= 5.12.0),
               libkf5service-dev (>= 5.12.0),
               libkf5widgetsaddons-dev (>= 5.12.0),
               libkf5xmlgui-dev (>= 5.12.0),
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.4),
               qtscript5-dev (>= 5.4),
               qttools5-dev (>= 5.4),
               xauth,
               xvfb
Standards-Version: 3.9.6
XS-Testsuite: autopkgtest
Homepage: https://projects.kde.org/projects/frameworks/kross
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/frameworks/kross.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kross.git

Package: kross-dev
Section: libdevel
Architecture: any
Depends: kio-dev (>= 5.12.0),
         kross (= ${binary:Version}),
         libkf5i18n-dev (>= 5.12.0),
         libkf5iconthemes-dev (>= 5.12.0),
         libkf5parts-dev (>= 5.12.0),
         libkf5widgetsaddons-dev (>= 5.12.0),
         qtbase5-dev (>= 5.4),
         ${misc:Depends}
Description: development files for kross
 Modular scripting framework that eases embedding
 of scripting interpreters like Python, Ruby and
 JavaScript transparently into native applications
 to bridge the static and dynamic worlds together.
 .
 Contains development files for kross.

Package: kross
Architecture: any
Depends: libkf5krosscore5 (= ${binary:Version}),
         libkf5krossui5 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Multi-language application scripting.
 Modular scripting framework that eases embedding
 of scripting interpreters like Python, Ruby and
 JavaScript transparently into native applications
 to bridge the static and dynamic worlds together.

Package: libkf5krosscore5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: kross (>= ${binary:Version})
Description: Multi-language application scripting.
 Modular scripting framework that eases embedding
 of scripting interpreters like Python, Ruby and
 JavaScript transparently into native applications
 to bridge the static and dynamic worlds together.

Package: libkf5krossui5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Multi-language application scripting.
 Modular scripting framework that eases embedding
 of scripting interpreters like Python, Ruby and
 JavaScript transparently into native applications
 to bridge the static and dynamic worlds together.
Multi-Arch: same

Package: kross-dbg
Priority: extra
Section: debug
Architecture: any
Depends: kross (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kross
 Modular scripting framework that eases embedding
 of scripting interpreters like Python, Ruby and
 JavaScript transparently into native applications
 to bridge the static and dynamic worlds together.
 .
 Contains debug symbols for kross.
